{% extends 'base.html.twig' %}

{% block title %}FileUpload List{% endblock %}
{% block body %}
    <h2>Список файлов <small><a href="/file/create">добавить</a></small> </h2>
    {% for file in files %}
        <img src="{{ asset('uploads/files/' ~ file.name) }}" width="500" height="500">
    {% endfor %}
{% endblock %}